ul.card__list {
  height: 100%;
  margin-top: 15vh;
  overflow: auto;
  list-style: none;
  // margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
  
  li {
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
    padding: 0.5em 2em;
    background-color: #100202;
    height: 1em;
    line-height: 1em;
    font-size: x-large;

    .card__destroy {
      position: absolute;
      right: 2px;
      top: auto;
      display: none;
    }
    @media(max-width:600px) {
      & .card__destroy{
        display: inline-block;
      }
    }
    &:hover .card__destroy {
      display: inline-block;
    }
  }
}