$bgcolor: #207cca;
$color: #fafafa;

.FileUploader {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;

  .FileUploader__body {
    position: absolute;
    height: 10em;
    width: 90vw;
    max-width: 50rem;
    z-index: 1000;
    background: #d4781af2;
    animation: fadeIn 0.5s;
    text-align: center;
    box-shadow: inset 0px 0px 0px 3px grey;
    outline: 4px solid white;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);

    form {
      width: 25em;
      margin: 2em auto;
    }
  
    .arrow {
      position: relative;
      left: -8px;
      background: $bgcolor;
      padding: 8px 15px;
      &.hover {
        background: $color;
      }
      &:after{
        right: 100%;
        top: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        border-color: rgba(32,124,202,0);
        border-right-color: $bgcolor;
        border-width: 10px;
        margin-top: -10px;
      }
      &.hover:after {
        border-right-color: $color;
      }
    }
  
    input[type=text] {
      padding:8px 15px;
      color: #101010;
      background:rgba(50, 50, 50, 0.2);
      border:0px solid #dbdbdb;
      width: calc(100% - 120px);
      max-width: 23rem;
      &::-webkit-input-placeholder {
        font-family: Lato;
        font-weight: bold;
      }
      &:-moz-placeholder {
        font-family: Lato;
        font-weight: bold;
      }
      &::-moz-placeholder {
        font-family: Lato;
        font-weight: bold;
      }
      &:-ms-placeholder {
        font-family: Lato;
        font-weight: bold;
      }
    }

    select {
      width: 25em;
      height: 2em;
      margin-top: 0.25em;
    }
  
    button {
      z-index: 1;
      width: 9rem;
      position: relative;
      padding: 0px 15px;
      border:2px solid $bgcolor;
      background-color:$bgcolor;
      color: $color;
      &.hover {
        background-color: $color;
        border-color: $color;
        color: $bgcolor;
      }
    }
    
    input[type=file] {
      position: absolute;
      left: 0;
      top: 0;
      width: 25em;
      height: 2em;
      border: 0px solid #ffffff;
      z-index: 2;
      opacity: 0;
    }

    .FileUploader__actions {
      position: relative;
      top: 0.75em;

      button {
        margin: 0 1.5em;
      }
    }
  }
}